:root {
  --default-padding: 60px 0;
  --section-color: #f1f5f6;
}

html {
  scroll-behavior: smooth;
}

/* Body */
body {
  font-family: "Source Sans Pro", sans-serif;
}

h2 {
  font-family: "Playfair Display", serif;
}

/* navbar */
.navbar {
  background-color: transparent !important;
}

.nav-link,
.navbar-brand {
  color: white !important;
  font-size: 22px;
}

.nav-link:hover,
.navbar-brand:hover {
  text-decoration: underline;
}

.scrolled {
  background-color: var(--section-color) !important;
  transition: background-color 200ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  color: black !important;
}

.scrolled a {
  color: #000 !important;
}

/* Jumbotron */
.jumbotron {
  height: 100vh;
  background-position: center;
  background-size: cover;
  margin-bottom: 0;
  font-family: "Playfair Display", serif;
  color: whitesmoke;
  background-color: transparent;
}

.jumbotron .img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./img/jumboimg.jpg);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.jumbotron .container {
  position: relative;
  z-index: 2;
}

/* about section */
.about {
  background-color: var(--section-color);
  padding: var(--default-padding);
}

/* Services */
.services {
  padding: var(--default-padding);
}
.twoCol ul {
  -moz-column-count: 2;
  -moz-column-gap: 30px;
  -webkit-column-count: 2;
  -webkit-column-gap: 30px;
  column-count: 2;
  column-gap: 30px;
}

.sec-1 img {
  max-width: 100%;
  max-height: 100%;
}

.sec-2 img {
  max-width: 100%;
  max-height: 100%;
}
.sec-3 img {
  max-width: 100%;
  max-height: 100%;
}
/* Projects */
.projects {
  background-color: var(--section-color);
  padding: var(--default-padding);
}

/* Contact */
.contact {
  padding: var(--default-padding);
}

/* Footer */
.footer {
  background-color: var(--section-color);
  padding: 30px;
}
