:root {
  --default-padding: 60px 0;
  --section-color: #f1f5f6;
}

html {
  scroll-behavior: smooth;
}

/* Body */
body {
  font-family: "Source Sans Pro", sans-serif;
}

h2 {
  font-family: "Playfair Display", serif;
  text-decoration: underline;
}

/* navbar */
.navbar {
  background-color: rgba(223, 223, 223, 0.4) !important;
}

.navbar a {
  color: black !important;
  /* opacity: 100%; */
}

.nav-link,
.navbar-brand {
  color: black !important;
  font-size: 22px;
}

.nav-link:hover,
.navbar-brand:hover {
  text-decoration: underline;
}

.scrolled {
  background-color: #f1f5f6 !important;
  transition: background-color 0.65s ease-in-out;
  color: black !important;
}

.fixed-top {
  transition: background-color 0.65s ease-in-out;
}

.scrolled a {
  color: #000 !important;
}

/* Jumbotron */
.jumbotron {
  height: 100vh;
  background-position: center;
  background-size: cover;
  margin-bottom: 0;
  font-family: "Playfair Display", serif;
  color: whitesmoke;
  background-color: transparent;
}

.jumbotron .img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./img/2.jpg);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.jumbotron .container {
  position: relative;
  z-index: 2;
}

/* about section */
.about {
  background-color: var(--section-color);
  padding: var(--default-padding);
}

/* Services */
.services {
  padding: var(--default-padding);
}

.services h2 {
  margin-bottom: 20px;
}

.slideImg {
  display: block;
  margin: 0 auto;
  height: 350px;
}

/* Projects */
.projects {
  background-color: var(--section-color);
  padding: var(--default-padding);
}

/* Contact */
.contact {
  padding: var(--default-padding);
}
.contact button {
  background-color: hsla(240, 2%, 61%, 0.95);
  border-color: hsla(240, 2%, 61%, 0.95);
}
.contact button:hover {
  background-color: hsl(0, 0%, 74%);
  border-color: hsla(240, 2%, 61%, 0.95);
}

/* Footer */
.footer {
  background-color: var(--section-color);
  padding: 30px;
}

.footer li {
  list-style-type: none;
}

/* Carousel */

.carousel-inner {
  min-height: 370px;
}

.carousel-indicators {
  bottom: -50px;
}

.carousel-indicators li {
  background-color: hsla(240, 2%, 61%, 0.95);
  margin-top: 10px;
  opacity: 0.3;
}

.arrow {
  color: hsla(240, 2%, 61%, 0.89);
}

.carousel-control-prev,
.carousel-control-next {
  margin: -120px;
}

.carousel-control-prev:focus,
.carousel-control-next:focus {
  outline: none;
  opacity: 0.5;
}
.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 1;
}

/* Footer */

.fas {
  color: black;
  margin-right: 8px;
}

.footer a {
  color: black;
}

.footer h2 {
  padding-bottom: 20px;
}

.contact-div {
  text-align: center;
  padding-bottom: 20px;
}

/* Media Query */

@media screen and (max-width: 1500px) {
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .d-flex {
    flex-direction: column;
  }
}

/* @media screen and (max-width: 1500px) {
.fa-phone-alt:hover {
  text-decoration: none !important;
} */
